@import "tailwindcss";

:root {
  --background: #E4E4E4;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A1A1A;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-urbanist), sans-serif;
}
